@import "bootstrap-sprockets";
@import "bootstrap";

/*MiXINS!*/
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* universal Global */
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center{
  text-align: center;
  h1 {
    margin-bottom: 60px;
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -2px;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}
footer {
  margin-top: 45px;
  padding-top: 10px;
  color: $gray-light;
  border-top: 1px solid #eaeaea;
  
  a {
    color: #555;
  }

  a:hover{
    color: #222;
  }

  small{
    float: left;
  }

  ul{
    float: right;
    list-style: none;
    
    li{
      float: left;
      margin-left: 15px;
    }
  }
}
.debug_dump {
  clear:both;
  float:left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* sidebar */
aside {

  section.user_info {
    margin-top: 20px;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }

    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}

form {
  min-width: 70%;
  width: 70%;
  max-width: 70%;

  input {
    width: 100%;
  }
}
#logo {
  float:left;
  color: #fff;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 9px;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}