<h3> All workouts </h3>

<ul>
  <li><span class="name top_lab"> Exercise Name</span> <span class="numbers top_lab">Reps</span>  <span class="numbers top_lab">Weight</span></li>
  <%= render "Partial/workout_list" %>
  <%= will_paginate @workouts %>
</ul>

<div id="d3-Chart">

</div>