<% if @user %>
<% provide(:title, @user.username) %>
<aside>
  <section>
    <h1>
      <%= gravatar_for @user %>
      <%= @user.username %>
    </h1>

<% else %>
    <div class="error">
      <p> No users found sorry!</p>
    </div>
  </section>
</aside>
<% end %>