<div class="center jumbotron">
<h1> Locker Room</h1>

<h2> -Grey Shirts</h2>

<%= link_to "Sign Up now!", new_user_path, class: "btn btn-lg btn-primary" %>
<p>This is the home page for the Locker Room's <a href="http://google.com">Website</a>.
</p>
</div>
