<h1>All Exercises</h1>

<%= link_to "Add Exercise", new_exercise_path, class: "link_button", method: :get %><br />

<% @exercises.each do |exercise| %>
    <div class="goal-box">
        Name: <%= exercise.name %><br>
        Description: <%= exercise.description %>
    </div>
    <br />
    <br />
<% end %>